.App {
  padding: 18px 28px;
}
.App .chat-Card {
  /* background-color: yellow; */
  width: fit-content;
}

.App .message-Card {
  /* width: 70vw; */
  min-width: 70vw;
  /* max-width: 100vw -315px; */
}
.App .message-List {
  /* background-color: green; */
  height: 100vh;
  overflow: auto;
  padding: 0 20px 0 10px;
}
.App .button-Actions {
  color: white;
  background-image: linear-gradient(to right, #4d6cab, #57d3ca);
  width: 100%;
}
.App .button-Disabled {
  background-color: #c7c7c7;
  width: 100%;
}
/* .App .ant-list .ant-list-item {
  width: 100%;
  background-color: yellow;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
